.detail_page {
    display: flex;
    flex-direction: column;
}

.list {
    flex-direction: row;
}

.list_item {
    border-radius: 2rem;
    padding: 0.5rem 0.75rem;
    margin: 0.25rem 0.25rem;
}

.icon {
    max-width: 1rem;
    max-height: 1rem;
    margin-right: 0.5rem;
}