div#uploadPage {
    background-color: #458fef;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

button#uploadPage {
    border: 0.1rem solid white;
    border-radius: 2.5rem;
}

img.logo {
    width: 4rem;
}
